@media screen and (max-width: 992px) {
    section.check-out{
        .container{
            margin: auto;
            h2{
                text-align: center;
            }
            .billing-details{
                display: grid;
                grid-template-columns: 100% !important;
                .left{
                    padding: 20px;
                }
                .right{
                    height: unset;
                    padding: 20px;
                }
            }

        }

    }
    
}
