@media screen and (max-width: 992px) {
    section.sign-up{
        .container{
            margin: auto;
            display: grid;
            grid-template-columns: 100%;
            place-content: center;
            .left{
                // h2{
                //     text-align: center;
                // }
                // p{
                //     text-align: center;
                // }
                // .input-box{
                //     align-self: center;
                // }
            }
        }
    }
    
}