@media screen and (max-width: 992px) {
    section.casual{
        
        .product{
            .row-1{
                display:grid;
                grid-template-columns:100%;
            }
            .row-2{
                display:grid;
                grid-template-columns:100%;
            }
            .row-3{
                display:grid;
                grid-template-columns:100%;
            }
        }
    }

    
    main{
        // border:10px solid gold;
        aside{
            padding-bottom: 40px;
            height: fit-content!important;
    
        }
    }
}